In [137]:
import warnings
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore')

In [124]:
dframe = pd.read_csv("Social_Network_Ads.csv")
dframe.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [125]:
dframe.corr()

                  User ID       Age  EstimatedSalary  Purchased
User ID          1.000000 -0.000721         0.071097   0.007120
Age             -0.000721  1.000000         0.155238   0.622454
EstimatedSalary  0.071097  0.155238         1.000000   0.362083
Purchased        0.007120  0.622454         0.362083   1.000000

In [126]:
lbl_encoder = LabelEncoder()
dframe["GenderEncoded"] = lbl_encoder.fit_transform(dframe.Gender)

In [127]:
dframe.head()

    User ID  Gender  Age  EstimatedSalary  Purchased  GenderEncoded
0  15624510    Male   19            19000          0              1
1  15810944    Male   35            20000          0              1
2  15668575  Female   26            43000          0              0
3  15603246  Female   27            57000          0              0
4  15804002    Male   19            76000          0              1

In [128]:
x_dframe = dframe.drop(["Gender", "Purchased", "User ID"], axis=1)
x_dframe.head()

   Age  EstimatedSalary  GenderEncoded
0   19            19000              1
1   35            20000              1
2   26            43000              0
3   27            57000              0
4   19            76000              1

In [129]:
x_train, x_test, y_train, y_test = train_test_split(x_dframe, dframe.Purchased, test_size=0.2, random_state=0)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(320, 3)
(80, 3)
(320,)
(80,)

In [130]:
std_scaler_age = StandardScaler()
x_train.Age = std_scaler_age.fit_transform(x_train.Age)

std_scaler_salary = StandardScaler()
x_train.EstimatedSalary = std_scaler_salary.fit_transform(x_train.EstimatedSalary)
print(x_train.shape)
print(y_train.shape)

(320, 3)
(320,)

In [131]:
classifier = LogisticRegression(random_state=0)
classifier.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=0, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [132]:
x_test.Age = std_scaler_age.transform(x_test.Age)
x_test.EstimatedSalary = std_scaler_salary.transform(x_test.EstimatedSalary)
x_test.head()

          Age  EstimatedSalary  GenderEncoded
132 -0.798951         0.494608              1
309 -0.021265        -0.577359              0
341 -0.312897         0.146943              1
196 -0.798951         0.262831              0
246 -0.312897        -0.577359              0

In [133]:
y_pred = classifier.predict(x_test)
confusion_matrix(y_test, y_pred)

array([[56,  2],
       [ 5, 17]])